{#
This is a hack to extract the correct master db info from the
variables available to Ansible inside the charm context.
If there is db.master.changed is triggered, the interface does
not propagate the correct master info everywhere.
We could read the info in the charm and pass along, but that
requires creating a file or pass via Ansible's extra_vars
which are both more annoying and less secure.
For some reason, the only correct info is found in the
postgresql connection string so we must parse this as below.
#}
CORS_ORIGIN_ALLOW_ALL=True
{% for i in db__master.split() if i.split('=')[0] == 'dbname' %}
DB_NAME={{ i.split('=')[1] }}
{% endfor %}
{% for i in db__master.split() if i.split('=')[0] == 'user' %}
DB_USER={{ i.split('=')[1] }}
{% endfor %}
{% for i in db__master.split() if i.split('=')[0] == 'password' %}
DB_PASSWORD={{ i.split('=')[1] }}
{% endfor %}
{% for i in db__master.split() if i.split('=')[0] == 'host' %}
DB_HOST={{ i.split('=')[1] }}
{% endfor %}
EMAIL_SERVER={{ email_server }}
EMAIL_PORT={{ email_port }}
EMAIL_USERNAME={{ email_username }}
EMAIL_PASSWORD={{ email_password }}
EMAIL_TIMEOUT=5
EMAIL_FROM={{ email_from }}
ENFORCE_GLOBAL_UNIQUE={{ enforce_global_unique }}
LOGIN_REQUIRED={{ login_required }}
MAINTENANCE_MODE={{ maintenance_mode }}
MAX_PAGE_SIZE=1000
MEDIA_ROOT=/opt/netbox/netbox/media
METRICS_ENABLED={{ metrics_enabled }}
NAPALM_USERNAME=
NAPALM_PASSWORD=
NAPALM_TIMEOUT=10
PREFER_IPV4={{ prefer_ipv4 }}
REDIS_HOST=redis
REDIS_PASSWORD={{ lookup('password', netbox_secrets_path + '/redis_password chars=ascii_letters,digits length=24') }}
REDIS_DATABASE=0
REDIS_CACHE_DATABASE=1
REDIS_SSL=false
SECRET_KEY={{ lookup('password', netbox_secrets_path + '/secret_key chars=ascii_letters,digits length=128') }}
SKIP_STARTUP_SCRIPTS=false
SKIP_SUPERUSER=false
SUPERUSER_NAME={{ netbox_superuser_name }}
SUPERUSER_EMAIL={{ netbox_superuser_email }}
SUPERUSER_PASSWORD={{ lookup('password', netbox_secrets_path + '/superuser_password chars=ascii_letters,digits length=24') }}
SUPERUSER_API_TOKEN={{ lookup('password', netbox_secrets_path + '/superuser_api_token chars=ascii_letters,digits length=24') }}
TIME_ZONE={{ time_zone }}
WEBHOOKS_ENABLED=true
